body {
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem; /*Route em does not get effected b  upstream size changes */
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}
h2 {
  color: #66BFBF;
  font-size: 2.5 rem;/* 1 em equals to 16px*/
  font-family: 'Paytone One', sans-serif;
  font-weight: normal;
}
h3 {
  color: #66BFBF;
}
p {
  font-size: 18px;
  line-height: 2;
}
.Pogramming-languages {
  font-style: italic;
  color: red;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 4%;
  margin: 100px auto;
 }
 a {
   font-family: 'Merriweather', serif;
   color: #11999E;
   margin: 10px 20px;
   text-decoration: none;
   font-size: 18px;
 }
 a:hover {
   color: #EAF6F6;
 }
.me {
  margin: 0;
  border-radius: 100%;
  position: relative;
  right: 450px;

}
.Cloud1 {
  opacity: 0.5;
  position: relative;
  left: 210px
}
.Cloud2 {
  opacity: 0.5;
  position: relative;
  top: 330px;
  right: 210px;
}
.Programming {
  margin: 0;
  opacity: 0.5;

}
.My-Profile-Picture {
  border-radius: 100%;
  width: 25%;
}
.html-css-javascript-Picture {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.java-logo {
width: 25%;
float: left;
margin-right: 30px;
}
 .top-container {
   margin: 0;
   background-color: #A2DBFA;
  position: relative;
   padding-top: 690px;
 }
 .top-content1 {
   margin: 0;
   width: 100%;
   position: absolute;
   top: 70px;
 }
 .top-content2 {
   margin: 0;
   width: 100%;
   position: absolute;
   top: 250px;
 }
 .clouds-picture {
   margin: 0;
   width: 100%;
   position: absolute;
   top: 200px;
 }
 .middle-container {
   padding-top: 50px;
   background-color: #F0E9D2;
 }
 .bottom-container {
   padding: 50px 0 20px;
   background-color: #A2DBFA;

 }
 .Code {
   size: 25%;
 }
.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro {
  width: 60%;
  margin: 40px auto 60px;
  text-align: left;
}
.contact-me {
  padding-bottom: 50px;
}
.contact-message {
  width: 30%;
  margin: 40px auto 60px;
  text-align: left;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #3498db 2px;
  text-decoration: none;
}

.btn:hover {
  color: #3498db;
  background: #EAF6F6;
  background-image: -webkit-linear-gradient(top, #EAF6F6, #EAF6F6);
  background-image: -moz-linear-gradient(top, #EAF6F6, #EAF6F6);
  background-image: -ms-linear-gradient(top, #EAF6F6, #EAF6F6);
  background-image: -o-linear-gradient(top, #EAF6F6, #EAF6F6);
  background-image: linear-gradient(to bottom, #EAF6F6, #EAF6F6);
  text-decoration: none;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
